.icon-48-serverinstancess {
      background-image: url(../images/l_serverinstancess.png);
      padding-left:60px!important;
}

.icon-48-serverinstances {
      background-image: url(../images/l_serverinstancess.png);
      padding-left:60px!important;
}

