.icon-48-projectgroups {
      background-image: url(../images/l_projectgroups.png);
      padding-left:60px!important;
}

.icon-48-projectgroup {
      background-image: url(../images/l_projectgroups.png);
      padding-left:60px!important;
}

