.icon-48-vmusers {
      background-image: url(../images/l_vmusers.png);
      padding-left:60px!important;
}

.icon-48-vmuser {
      background-image: url(../images/l_vmusers.png);
      padding-left:60px!important;
}

