.icon-48-cvlvmlists {
      background-image: url(../images/l_cvlvmlists.png);
      padding-left:60px!important;
}

.icon-48-cvlvmlist {
      background-image: url(../images/l_cvlvmlists.png);
      padding-left:60px!important;
}

