.icon-48-cvlnectars {
      background-image: url(../images/l_cvlnectars.png);
      padding-left:60px!important;
}

.icon-48-cvlnectar {
      background-image: url(../images/l_cvlnectars.png);
      padding-left:60px!important;
}

